.css_dpi_label { }
.css_dpi_line { }
.css_dpi_obj { }
.css_primer_nombre_label { }
.css_primer_nombre_line { }
.css_primer_nombre_obj { }
.css_segundo_nombre_label { }
.css_segundo_nombre_line { }
.css_segundo_nombre_obj { }
.css_tercer_nombre_label { }
.css_tercer_nombre_line { }
.css_tercer_nombre_obj { }
.css_primer_apellido_label { }
.css_primer_apellido_line { }
.css_primer_apellido_obj { }
.css_segundo_apellido_label { }
.css_segundo_apellido_line { }
.css_segundo_apellido_obj { }
.css_apellido_casada_label { }
.css_apellido_casada_line { }
.css_apellido_casada_obj { }
.css_direccion_residencia_label { }
.css_direccion_residencia_line { }
.css_direccion_residencia_obj { }
.css_direccion_zona_label { }
.css_direccion_zona_line {text-align:left;}
.css_direccion_zona_obj {text-align:left;}
.css_direccion_municipioid_label { }
.css_direccion_municipioid_line {text-align:left;}
.css_direccion_municipioid_obj {text-align:left;}
.css_direccion_deptoid_label { }
.css_direccion_deptoid_line {text-align:left;}
.css_direccion_deptoid_obj {text-align:left;}
.css_sexo_label { }
.css_sexo_line {text-align:left;}
.css_sexo_obj {text-align:left;}
.css_estado_civil_label { }
.css_estado_civil_line {text-align:left;}
.css_estado_civil_obj {text-align:left;}
.css_estado_label { }
.css_estado_line { }
.css_estado_obj { }
