.css_dpi_label { }
.css_dpi_line { }
.css_dpi_obj { }
.css_fecha_registro_label { }
.css_fecha_registro_line { }
.css_fecha_registro_obj { }
.css_idcentro_votacion_label { }
.css_idcentro_votacion_line {text-align:left;}
.css_idcentro_votacion_obj {text-align:left;}
.css_numero_padron_label { }
.css_numero_padron_line {text-align:left;}
.css_numero_padron_obj {text-align:left;}
.css_departamentoid_label { }
.css_departamentoid_line {text-align:left;}
.css_departamentoid_obj {text-align:left;}
.css_municipioid_label { }
.css_municipioid_line {text-align:left;}
.css_municipioid_obj {text-align:left;}
.css_estado_label { }
.css_estado_line { }
.css_estado_obj { }
