.css_dpi_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_dpi_grid_line {vertical-align: top;text-align: right;}
.css_primer_nombre_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_primer_nombre_grid_line {vertical-align: top;text-align: right;}
.css_segundo_nombre_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_segundo_nombre_grid_line {vertical-align: top;text-align: right;}
.css_primer_apellido_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_primer_apellido_grid_line {vertical-align: top;text-align: right;}
.css_segundo_apellido_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_segundo_apellido_grid_line {vertical-align: top;text-align: right;}
.css_direccion_residencia_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_direccion_residencia_grid_line {vertical-align: top;text-align: right;}
