.css_dpi_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_dpi_grid_line {vertical-align: top;text-align: left;}
.css_fecha_registro_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_fecha_registro_grid_line {vertical-align: top;text-align: center;}
.css_idcentro_votacion_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_idcentro_votacion_grid_line {vertical-align: top;text-align: right;}
.css_numero_padron_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_numero_padron_grid_line {vertical-align: top;text-align: right;}
