.css_idcandidato_label {text-align:;}
.css_idcandidato_line {text-align:left;}
.css_idcandidato_obj {text-align:left;}
.css_dpi_label { }
.css_dpi_line { }
.css_dpi_obj { }
.css_nombre_label { }
.css_nombre_line { }
.css_nombre_obj { }
.css_apellido_label { }
.css_apellido_line { }
.css_apellido_obj { }
.css_departamentoid_label { }
.css_departamentoid_line {text-align:left;}
.css_departamentoid_obj {text-align:left;}
.css_municipioid_label {text-align:;}
.css_municipioid_line {text-align:left;}
.css_municipioid_obj {text-align:left;}
.css_cargo_label {text-align:;}
.css_cargo_line {text-align:left;}
.css_cargo_obj {text-align:left;}
.css_partido_label {text-align:;}
.css_partido_line {text-align:left;}
.css_partido_obj {text-align:left;}
